{% extends "template.html" %}
{% block content %}
<div class='no-display'>
  <input id='file-input' class='no-display' type='file' name='file' accept='image/*' onchange='showPicked(this)'>
</div>

<div class='upload-label'>
  <label id='upload-label' class="label label-primary">No file chosen</label>
</div>
<div>
  <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
</div>
<div class='analyze'>
  <button id='analyze-button' class='btn btn-primary' type='button' onclick='analyze()'>Analyze</button>
</div>
{% endblock %}