<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/Chart.css">
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!---Chart.js-->
    <script src="static/Chart.js"></script>
    <title>Device Identifier</title>
    <meta property="og:title" content="Home" />
    <meta property="og:locale" content="en" />
    <meta property="og:site_name" content="Device Identifier" />
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Device Classifier</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="width: auto;">
                <h3>
                    Device Classifier
                    <small class="text-muted">  Destinguishes between Smartphone, Tablets, Laptops and PCs</small>
                  </h3>
                <p class="text-justify">
                    This is a short example Projekt provided with Starlet and a basic image classifier made with the Fast.ai Framework.

                    This project can destinguish different pictures based on the trained Model in the background.
                    It was trained to recognize pictures which include the following:
                    <ul>
                        <li>Gaming Laptop</li>
                        <li>Gaming PC</li>
                        <li>Smartphone</li>
                        <li>Tablet</li>
                    </ul>
                </p>
                
                <h4>
                    How to use this projekt
                </h4>
                <p class="text-justify">
                    Steps:
                    <ol>
                        <li>Upload picture on the left side</li>
                        <li>Click Analyse</li>
                        <li>You should now see the result of the classifier in the Chart</li>
                    </ol>
                </p>
                <div class="sidebar-sticky">
                    {% block content %} {% endblock %}
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div id="results" style="display: none;">
                    <h1 class="h2">Wahrscheinlichkeits Grafik</h1>
                    <canvas id="myChartBar"> </canvas>
                </div>
            </main>
        </div>
    </div>
</body>
<script src="static/client.js"></script>
</html>